@import '../../assets/scss/variables';
@import '../../assets/scss/base';
@import '../../assets/scss/mixins';

.base-module{
    background-color: $color-primary;
    padding: $spacer-3;

    .heading-div{
        padding: $spacer-3;
        letter-spacing: 1px;
        color: $color-text;
    }
    .heading{
        font-size: $font-heading;
        font-weight: 700;
        padding: $spacer-md;
    }
    .content{
        padding: $spacer-md;
        font-size: $font-sm;
    }
    .chart-base{
        width: 80%;
        margin: auto;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        color: $color-white;
        padding: $spacer-4;
        overflow: auto;
    }
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@include tablet{
    .base-module{
        .chart-base{
            width: 100%;
        }
    }
}